<p>Robinews Privacy Policy</p>
<p>Effective date: May 22, 2018</p>

<p>Thank you for using Robinews! We take your privacy extremely seriously and would like to describe how we collect, use and protect your information when you access our website(s), products, services and applications (collectively, the "Services").</p>

<p>We only use Google Analytic to collect information regarding how you use the app. Other than that we collect and use zero personal information from you.</p>


<p>Will Robinews ever change this Privacy Policy?</p>
<p>No</p>

<p>What Information does Robinews Collect?</p>
<p>We collect zero information from you</p>
