body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

/** Trading View Hack **/
.tradingview-widget-copyright {
  position: fixed;
  top: -999999px;
}

.tradingview-widget-container {
  position: relative;
}

#robinews-ticker-trading-view .tradingview-widget-container {
  height: 20px !important;
  pointer-events: none !important;
}

#robinews-chart-info-trading-view .tradingview-widget-container {
  pointer-events: none !important;
}
#robinews-market-mover-trading-view .tradingview-widget-container a {
  pointer-events: none !important;

}

/** End Trading View Hack **/


/** Search Material UI Hack **/
.PrivateNotchedOutline-root-39 {
  border-radius: 0;
}
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-endAdornment {
  right: 38px !important;
}
/** End Search Material UI Hack **/


/** Financial Statistic **/
section[data-test="qsp-statistics"] > div:first-child {
  display: none;
}

section[data-test="qsp-statistics"] > div:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
}

section[data-test="qsp-statistics"] > div:nth-child(2) {
  display: none;
}

h2[class=" D(ib)"] {
  display: none;
}

div[class="Fl(end) Whs(nw)"] {
  display: none;
}

div[class="IbBox"] {
  display: none;
}

div[class="Mb(10px) smartphone_Pend(0px) Pend(0px) Cl(end)"] {
  display: none;
}

div[class="Fl(start) smartphone_W(100%) W(100%)"] {
  display: none;
}

table[class="W(100%) Bdcl(c) "] {
  border-collapse: collapse;
  width: 100%;
}

table[class="W(100%) Bdcl(c) "] tr {
  border-bottom: 1px solid #e0e0e0;
  line-height: 22px;
  font-size: 14px;
}

h2[class="Pstart(20px) smartphone_Pstart(0px) smartphone_Pt(20px) Pt(20px)"] {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
}

h2[class="Pt(20px)"] {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
}

h3[class="Mt(20px)"] {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

div[class="Fl(end) W(50%) smartphone_W(100%)"] {
  width: 45%;
}

div[class="Fl(start) W(50%) smartphone_W(100%)"] {
  width: 45%;
}

td[class="Fw(500) Ta(end) Pstart(10px) Miw(60px)"] {
  text-align: right;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
}
/** End Financial Statistic **/


/** Analyst Concensus **/
strong.client-components-stock-research-analysts-price-target-style__high {
  color: #00bfa5;
}

strong.client-components-stock-research-analysts-price-target-style__low {
  color: #c5221f;
}
/** End Analyst Concensus **/
